<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="users" mode="side">
    <li *ngFor="let user of users">
      <a routerLink="/detail/{{user.id}}">
        <span class="badge">{{user.id}}</span> {{user.name}}
      </a>
      <button mat-button  class="delete" title="Delete User" (click)="delete(user)">x</button>
    </li>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container>
  
