$sheet-2: url('./spritesmith-main-2.png');
$sheet-3: url('./spritesmith-main-3.png');
$sheet-4: url('./spritesmith-main-4.png');
$sheet-5: url('./spritesmith-main-5.png');
$sheet-9: url('./spritesmith-main-9.png');

%height-width-box {
  width: 90px !important;
  height: 90px !important;
}

// FOR ALIGNING AVATAR PIECES TOGETHER
.hair {
  position: absolute;
  z-index: 30;
  margin-top: -1px;
}

.pigment {
  position: absolute;
  z-index: 20;
}

.shirt {
  position: absolute;
  z-index: 40;
}


// LOCATIONS ON SHEETS
.skin_ddc994 {
  background-image: $sheet-5;
  background-position: -1379px -637px;
  @extend %height-width-box;
}

.skin_ea8349 {
  background-image: $sheet-5;
  background-position: -460px -273px;
  @extend %height-width-box;
}

.skin_f5a76e {
  background-image: $sheet-5;
  background-position: -273px -452px;
  @extend %height-width-box;
}

.skin_c06534 {
  background-image: $sheet-5;
  background-position: -1106px 0px;
  @extend %height-width-box;
}

.skin_98461a {
  background-image: $sheet-4;
  background-position: -1638px -273px;
  @extend %height-width-box;
}

.skin_915533 {
  background-image: $sheet-4;
  background-position: -1638px -91px;
  @extend %height-width-box;
}

.slim_shirt_black {
  background-image: $sheet-4;
  background-position: -1547px -910px;
  @extend %height-width-box;
}

.slim_shirt_blue {
  background-image: $sheet-4;
  background-position: -1547px -1001px;
  @extend %height-width-box;
}

.slim_shirt_green {
  background-image: $sheet-4;
  background-position: -1547px -1365px;
  @extend %height-width-box;
}

.slim_shirt_pink {
  background-image: $sheet-4;
  background-position: -91px -1547px;
  @extend %height-width-box;
}

.slim_shirt_yellow {
  background-image: $sheet-4;
  background-position: -728px -1547px;
  @extend %height-width-box;
}

.slim_shirt_white {
  background-image: $sheet-4;
  background-position: -637px -1547px;
  @extend %height-width-box;
}

.hair_bangs_2_brown {
  background-image: $sheet-2;
  background-position: -364px -91px;
  @extend %height-width-box;
}

.hair_bangs_2_black {
  background-image: $sheet-2;
  background-position: -182px -273px;
  @extend %height-width-box;
}

.hair_bangs_2_blond {
  background-image: $sheet-2;
  background-position: -273px -273px;
  @extend %height-width-box;
}

.hair_bangs_2_red {
  background-image: $sheet-2;
  background-position: -182px -546px;
  @extend %height-width-box;
}

.hair_bangs_2_white {
  background-image: $sheet-2;
  background-position: -455px -546px;
  @extend %height-width-box;
}

.hair_base_3_blond {
  background-image: $sheet-3;
  background-position: -364px -1547px;
  @extend %height-width-box;
}

.hair_base_3_brown {
  background-image: $sheet-3;
  background-position: -546px -1547px;
  @extend %height-width-box;
}

.hair_bangs_3_white {
  background-image: $sheet-2;
  background-position: -819px -455px;
  @extend %height-width-box;
}

.hair_bangs_3_red {
  background-image: $sheet-2;
  background-position: -819px -182px;
  @extend %height-width-box;
}

.hair_bangs_3_black {
  background-image: $sheet-2;
  background-position: -637px -364px;
  @extend %height-width-box;
}

.inventory_present {
  background-image: $sheet-9;
  background-position: -425px -1575px;
  height: 50px;
  width: 40px;
}